In [1]:
%pip install python-calamine

Requirement already satisfied: python-calamine in c:\users\meve\anaconda3\lib\site-packages (0.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
df_07 = pd.read_excel("2007.xlsx")
df_08 = pd.read_excel("2008.xlsx")
df_09 = pd.read_excel("2009.xlsx")
df_10 = pd.read_excel("2010.xlsx")
df_11 = pd.read_excel("2011.xlsx")
df_12 = pd.read_excel("2012.xlsx")
df_13 = pd.read_excel("2013.xlsx")
df_14 = pd.read_excel("2014.xlsx")
df_15 = pd.read_excel("2015.xlsx")
df_16 = pd.read_excel("2016.xlsx")
df_17 = pd.read_excel("2017.xlsx")
df_18 = pd.read_excel("2018.xlsx")
df_19 = pd.read_excel("2019.xlsx")
df_20 = pd.read_excel("2020.xlsx")
df_21 = pd.read_excel("2021.xlsx")
df_22 = pd.read_excel("2022.xlsx")
df_23 = pd.read_excel("2023.xlsx")

In [4]:
df_07 = df_07.drop([0,1,2])

In [5]:
df_07 = df_07.rename(columns=df_07.iloc[0]).drop(df_07.index[0])

In [6]:
df_07['Year'] = 2007
df_07 = df_07.drop(df_07.index[0]).reset_index(drop=True)
df_07.rename(columns={df_07.columns[-1]: 'Year'}, inplace=True)

In [7]:
df_07.head(2)

,State of Residence,County of Residence,Country of Birth,Major Class of Admission,Admissions,Year
0,California,Los Angeles,Afghanistan,Immediate Relatives - Spouses,19,2007
1,California,Los Angeles,Afghanistan,Immediate Relatives - Parents,11,2007

In [8]:
df_08 = df_08.drop([0,1,2])
df_08 = df_08.rename(columns=df_08.iloc[0]).drop(df_08.index[0])

In [9]:
---

SyntaxError: invalid syntax (1947214667.py, line 1)

In [10]:
df_08.head(2)

,State of Residence,County of Residence,Country of Birth,Major Class of Admission,Admissions
4,California,Los Angeles,Afghanistan,Refugee and Asylee Adjustments,28
5,California,Los Angeles,Afghanistan,Other,15

In [ ]:
df_08['Year'] = 2008

In [ ]:
df_08.head(2)

In [ ]:
df_09 = df_09.drop([0,1,2])
df_09.rename(columns=df_09.iloc[0]).drop(df_09.index[0])

In [ ]:
df_09['Year'] = 2009

In [ ]:
df_10 = df_10.drop([0,1,2])
df_10.rename(columns=df_10.iloc[0]).drop(df_10.index[0])

In [ ]:
df_10['Year'] = 2010

In [ ]:
df_11 = df_11.drop([0,1,2])
df_11.rename(columns=df_11.iloc[0]).drop(df_11.index[0])

In [ ]:
df_11['Year'] = 2011

In [ ]:
df_12 = df_12.drop([0,1,2])
df_12.rename(columns=df_12.iloc[0]).drop(df_12.index[0])

In [ ]:
df_12['Year'] = 2012

In [ ]:
df_13 = df_13.drop([0,1,2])
df_13.rename(columns=df_13.iloc[0]).drop(df_13.index[0])

In [ ]:
df_13['Year'] = 2013

In [ ]:
df_14 = df_14.drop([0,1,2])
df_14.rename(columns=df_14.iloc[0]).drop(df_14.index[0])

In [ ]:
df_14['Year'] = 2014

In [ ]:
df_15 = df_15.drop([0,1,2])
df_15.rename(columns=df_15.iloc[0]).drop(df_15.index[0])

In [ ]:
df_15['Year'] = 2015

In [ ]:
df_16 = df_16.drop([0,1,2])
df_16.rename(columns=df_16.iloc[0]).drop(df_16.index[0])

In [ ]:
df_16['Year'] = 2016

In [ ]:
df_17 = df_17.drop([0,1,2])
df_17.rename(columns=df_17.iloc[0]).drop(df_17.index[0])

In [ ]:
df_17['Year'] = 2017

In [ ]:
df_18 = df_18.drop([0,1,2])
df_18.rename(columns=df_18.iloc[0]).drop(df_18.index[0])

In [ ]:
df_18['Year'] = 2018

In [ ]:
df_19 = df_19.drop([0,1,2])
df_19.rename(columns=df_19.iloc[0]).drop(df_19.index[0])

In [ ]:
df_19['Year'] = 2019

In [ ]:
df_20 = df_20.drop([0])
df_20.rename(columns=df_20.iloc[0]).drop(df_20.index[0])

In [ ]:
df_20['Year'] = 2020

In [ ]:
df_21 = df_21.drop([0])
df_21.rename(columns=df_21.iloc[0]).drop(df_21.index[0])

In [ ]:
df_21['Year'] = 2021

In [ ]:
df_22 = df_22.drop([0])
df_22.rename(columns=df_22.iloc[0]).drop(df_22.index[0])

In [ ]:
df_22['Year'] = 2022

In [ ]:
df_23 = df_23.drop([0])
df_23.rename(columns=df_23.iloc[0]).drop(df_23.index[0])

In [ ]:
df_23['Year'] = 2023

In [ ]:
df_23

In [ ]:
allfiles[df_07, df_08, df_09, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22, df_23}

In [ ]:
newheads = master_df.iloc[0]

In [ ]:
master_df = master_df[1:]

In [ ]:
master_df.columns = newheads

In [ ]:
master_df = master_df.reset_index(drop=True)

In [ ]:
master_df.head(5)